:root {
   --font-primary: "Montserrat", sans-serif;
  --color-default: #222222;
  --color-primary: #0c2296;
  --color-secondary: #68b20d;
}

.setting {
    margin-bottom: 0;
    padding-bottom: 0;

}

.inforp .text-end{
    color: var(--color-secondary);
}
.infor{
    font-size: 1.5rem;
    color: #08185e;
    font-family: var(--font-primary);
    font-weight: bold;
    height: 2.5rem;
}

.infor i{
    margin-right: 0.5rem;
}

.inforp {
    margin-top: 0;
}

.about h5 {
    font-family: var(--font-korean);
}

card {
    width: 40%;
}

.hobby h3{
    font-family: var(--font-korean);
}

.imgtext {
    vertical-align:bottom;
}

.carousel-indicators [data-bs-target] {
    border-radius:50%;
    padding: 0;
    margin-right: 3px;
    margin-left: 3px;
    text-indent: -999px;
    cursor: pointer;
    background-color: #e0e0e0;
    background-clip: padding-box;
    border: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    opacity: .8;
    transition: opacity .6s ease;
    height:30px;
}

.carousel-indicators .active {
    background-color: var(--color-primary);
}

.carousel-control-prev-icon {
    border-radius:50%;
    display: flex;
    align-items: center;
    justify-content: center;
    width:48px;
    height:48px;
    color: rgba(255, 255, 255, 0.8);
    background-color: rgba(0, 0, 0, 0.2);
}

.carousel-control-next-icon {
    border-radius:50%;
    display: flex;
    align-items: center;
    justify-content: center;
    width:48px;
    height:48px;
    color: rgba(255, 255, 255, 0.8);
    background-color: rgba(0, 0, 0, 0.2);
}

.carousel{
    height:50%;
    width:50%;
}